# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Environnement virtuel
env/
venv/
.venv/
.env

# Streamlit
.streamlit/secrets.toml

# Données (fichiers sources volumineux)
data/source/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
